# Byte-compiled / optimized / DLL files
*.py[cod]

# NeoVim
.*.swp

# Lisp (Lisp development is happening in a separate branch)
*.fasl
*.lisp

# Emacs
*~

# spec files
*.spec

# binary files
*.elf

error.txt
